body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

    ul{
        margin: 0;
        padding: 0;
    }

    li{
        list-style: none;
    }
    a{
        text-decoration: none;

        &:hover{
            color: unset;
            text-decoration: none;
        }
    }

    .width-container{
        max-width: 1400px;
        margin: auto;
        padding: 0 32px;
        @include res(sm){
            padding: 0 24px;
        }
    }

}

body.active{
    overflow: hidden;
    padding-right: 17px;
    @include res(lg) {
        padding-right: unset;
    }
    // background: rgba(49, 49, 49, 0.3);
}

body.show-sidebar{
    overflow-y: hidden;
    padding-right: 17px;
    .sidebar__main{
        transform: translateX(272px);
    }
    .sidebar__overlay{
        opacity: 1;
        visibility: visible;
    }
}