@media screen and(min-width:320px) {
  .aboutseller {
    order: 5;
    margin-top: 40px;
    h2 {
      margin-bottom: 30px;
      font-size: 24px;
    }
    .top {
      display: flex;
      .img {
        width: 15%;
        img {
          width: 100%;
          border-radius: 50%;
        }
      }
      .info {
        color: #62646a;
        padding-left: 20px;
        h6 {
          font-size: 12px;
          font-weight: 600;
          margin-bottom: 0;
        }
        p {
          margin-bottom: 4px;
          font-size: 14px;
        }
        .star {
          color: #ffb33e;
          font-size: 12px;

          i {
            margin-right: 4px;
            font-size: 12px;
          }
          span {
            color: #62646a;
          }
        }
        .btn {
          border: 1px solid #62646a;
          margin-top: 6px;
          font-size: 12px;
          font-weight: 600;
          color: #62646a;
          &:hover {
            background-color: #62646a;
            color: #fff;
          }
        }
      }
    }
    .bot {
      padding: 24px;
      border: 1px solid #dadbdd;
      border-radius: 4px;
      margin-top: 20px;
      color: #74767e;
      font-size: 12px;

      ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        li {
          width: 50%;
          strong {
            display: block;
            color: #62646a;
          }
        }
      }
      .article {
        border-top: 1px solid #dadbdd;
        padding-top: 14px;
      }
    }
  }
}

@media screen and(min-width:768px) {
  .aboutseller {
    margin-top: 70px;
    h2 {
      margin-bottom: 30px;
      font-size: 28px;
    }
    .top {
      .img {
        width: 15%;
        img {
          width: 100%;
        }
      }
      .info {
        padding-left: 20px;
        h6 {
          font-size: 16px;
        }
        p {
          margin-bottom: 4px;
          font-size: 16px;
        }
        .star {
          font-size: 14px;

          i {
            font-size: 14px;
          }
        }
        .btn {
          margin-top: 10px;
          font-size: 14px;
        }
      }
    }
    .bot {
      padding: 24px;
      font-size: 14px;
    }
  }
}

@media screen and(min-width:992px) {
  .aboutseller {
    order: 4;
    margin-top: 70px;
    h2 {
      font-size: 32px;
    }
    .top {
      
      .info {
        padding-left: 20px;
        h6 {
          font-size: 18px;
        }
        p {
          margin-bottom: 4px;
          font-size: 18px;
        }
        .star {
          font-size: 16px;

          i {
            font-size: 16px;
          }
        }
        .btn {
          margin-top: 10px;
          font-size: 16px;
        }
      }
    }
    .bot {
      padding: 24px;
      font-size: 18px;
    }
  }
}