.jobdetail--payment {
  h2 {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 25px;
    color: #404145;
    font-weight: 700;
  }
  table {
    border: 1px solid #efeff0;
    font-size: 14px;
    line-height: 21px;
    colgroup col {
      border-right: 1px solid #efeff0;
    }
    tbody {
      tr:nth-child(2n + 3) {
        background-color: #fafafa;
      }
      tr td {
        color: #74767e;
        font-weight: 400;
        vertical-align: text-top;
      }
      tr td:nth-of-type(1) {
        padding: 12px 16px;
      }
      tr td:nth-of-type(2),
      tr td:nth-of-type(3),
      tr td:nth-of-type(4) {
        text-align: center;
        vertical-align: middle;
        svg {
          fill: #1dbf73;
          height: 16px;
          width: 16px;
        }
      }
      .package {
        color: #74767e;
        th:first-of-type {
          width: 25%;

          font-weight: 400;
          padding: 24px 16px;
          vertical-align: text-top;
        }
        th:nth-of-type(2),
        th:nth-of-type(3),
        th:nth-of-type(4) {
          width: 25%;
          padding: 24px 16px 0;
          font-weight: 400;
          p:nth-of-type(1) {
            font-size: 19px;
            line-height: 26px;
            margin-bottom: 8px;
          }
          p:nth-of-type(2) {
            font-size: 19px;
            line-height: 26px;
            font-weight: 600;
            margin-bottom: 16px;
          }
          p:nth-of-type(3) {
            font-size: 12px;
            line-height: 150%;

            font-weight: 700;
          }
        }
      }
      .empty {
        td:nth-of-type(2),
        td:nth-of-type(3),
        td:nth-of-type(4) {
          padding: 0 16px 24px;
          font-size: 13px;
          color: #62646a;
          text-align: start;
          vertical-align: text-top;
        }
      }
      .delivery {
        td:nth-of-type(3) div,
        td:nth-of-type(4) div {
          display: flex;
          flex-direction: column;
          padding: 16px 0;
          label {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            input {
              margin-right: 6px;
            }
            &:nth-child(2) {
              margin-bottom: 0;
            }
          }
        }
      }
      .total {
        td:nth-of-type(2),
        td:nth-of-type(3),
        td:nth-of-type(4) {
          padding: 12px 16px;
          button {
            font-size: 16px;
            padding: 6px 40px;
            margin-top: 10px;
            background-color: #1dbf73;
            color: #fff;
            &:hover {
              background: #19a463;
            }
          }
        }
      }
    }
  }
}
