// .profile--left {
//   width: 40%;
//   .info {
//     background-color: #fff;
//     border: 1px solid #dadbdd;
//     padding: 30px;
//     font-size: 14px;
//     .top {
//       .avatar {
//         display: flex;
//         justify-content: center;
//         img {
//           width: 150px;
//           height: 150px;
//           border-radius: 50%;
//         }
//       }
//       .name {
//         text-align: center;
//         font-weight: 600;
//         font-size: 20px;
//         margin: 10px 0 4px;
//       }
//       .edit {
//         text-align: center;
//         span {
//           border: none;
//           background-color: transparent;

//           svg {
//             fill: #b5b6ba;
//             height: 14px;
//             cursor: pointer;
//             &:hover {
//               fill: #333;
//             }
//           }
//         }
//       }
//       .preview {
//         text-align: center;
//         a {
//           border-radius: 4px;
//           border: 1px solid #333;
//           color: #333;
//           font-weight: 500;
//           padding: 6px 0;
//           display: inline-block;
//           margin: 12px 0 16px;
//           &:hover {
//             background-color: #74767e;
//             color: #fff;
//             border-color: transparent;
//           }
//         }
//       }
//     }

//     .bot {
//       border-top: 1px solid #dadbdd;
//       color: #62646a;
//       .from {
//         display: flex;
//         justify-content: space-between;
//         margin: 10px 0;
//         .location {
//           span {
//             margin-right: 10px;
//           }
//         }
//         .country {
//           font-weight: 600;
//         }
//       }
//       .since {
//         display: flex;
//         justify-content: space-between;
//         span {
//           margin-right: 10px;
//         }
//         .year {
//           font-weight: 600;
//         }
//       }
//     }
//   }

//   .description {
//     background-color: #fff;
//     border: 1px solid #dadbdd;
//     padding: 30px;
//     margin-top: 30px;
//     & > :not(.list) {
//       border-top: 1px solid #dadbdd;
//       margin-bottom: 30px;
//       padding-top: 20px;
//       & > div:first-child {
//         color: #0e0e0f;
//         font-weight: 600;
//       }
//       & > div:last-child {
//         color: #b2b2b2;
//       }
//       a {
//         float: right;
//         color: #00698c;
//         font-weight: 400;
//         &:hover {
//           text-decoration: underline;
//         }
//       }
//     }
//     .des {
//       border: none;
//       color: #0e0e0f;
//       font-weight: 600;
//       padding-top: 0;
//     }
//     .des--content {
//       border: none;
//       min-height: 30px;
//       margin-bottom: 0;
//     }
//     .language {
//       margin-bottom: 8px;
//       color: #0e0e0f;
//       font-weight: 600;
//     }
//     .list {
//       margin-bottom: 20px;
//       li span:last-child {
//         color: #b2b2b2;
//       }
//     }
//     .account {
//       li {
//         color: #00698c;
//         font-size: 14px;
//         margin-top: 8px;
//         width: 130px;
//         cursor: pointer;
//         i {
//           margin-right: 8px;
//           font-weight: 600;
//         }
//       }
//     }
//   }
// }

@media screen and (min-width: 320px) {
 .profile--left {
  width: 40%;
  .info {
    background-color: #fff;
    border: 1px solid #dadbdd;
    padding: 4px;
    font-size: 14px;
    .top {
      .avatar {
        display: flex;
        justify-content: center;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
      .name {
        text-align: center;
        font-weight: 600;
        margin: 4px 0 0;
        font-size: 12px;
      }
      .edit {
        text-align: center;
        span {
          border: none;
          background-color: transparent;
          svg {
            fill: #b5b6ba;
            height: 8px;
            cursor: pointer;
            &:hover {
              fill: #333;
            }
          }
        }
      }
      .preview {
        text-align: center;
        a {
          border-radius: 4px;
          border: 1px solid #333;
          color: #333;
          font-weight: 500;
          display: inline-block;
          padding: 2px 6px;
          margin: 4px 0 10px;
          font-size: 8px;
          &:hover {
            background-color: #74767e;
            color: #fff;
            border-color: transparent;
          }
        }
      }
    }

    .bot {
      border-top: 1px solid #dadbdd;
      color: #62646a;
      font-size: 8px;
      .from {
        display: flex;
        justify-content: space-between;
        margin: 6px 0;
        .location {
          span {
            margin-right: 2px;
          }
        }
        .country {
          font-weight: 600;
        }
      }
      .since {
        display: flex;
        justify-content: space-between;
        span {
          margin-right: 2px;
        }
        .year {
          font-weight: 600;
        }
      }
    }
  }

  .description {
    background-color: #fff;
    border: 1px solid #dadbdd;
    padding: 6px;
    margin-top: 10px;
    font-size: 8px;
    & > :not(.list) {
      border-top: 1px solid #dadbdd;
      margin-bottom: 10px;
      padding-top: 10px;
      & > div:first-child {
        color: #0e0e0f;
        font-weight: 600;
      }
      & > div:last-child {
        color: #b2b2b2;
      }
      a {
        float: right;
        color: #00698c;
        font-weight: 400;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .des {
      border: none;
      color: #0e0e0f;
      font-weight: 600;
      padding-top: 0;
    }
    .des--content {
      border: none;
      margin-bottom: 0;
      min-height: 10px;
    }
    .language {
      margin-bottom: 2px;
      color: #0e0e0f;
      font-weight: 600;
    }
    .list {
      margin-bottom: 6px;
      li span:last-child {
        color: #b2b2b2;
      }
    }
    .account {
      li {
        color: #00698c;
        font-size: 8px;
        margin-top: 8px;
        width: 80px;
        cursor: pointer;
        i {
          font-weight: 600;
          margin-right: 6px;
        }
      }
    }
  }
}
}
@media screen and (min-width: 576px) {
  .profile--left {
    .info {
      padding: 14px;
      font-size: 8px;
      .top {
        .avatar {
          img {
            width: 40px;
            height: 40px;
          }
        }
        .name {
          font-size: 8px;
          margin: 4px 0 0;
        }
        .edit {
          span {
            svg {
              height: 8px;
            }
          }
        }
        .preview {
          a {
            font-size: 6px;
            padding: 2px 10px;
            margin: 2px 0 8px;
          }
        }
      }

      .bot {
        font-size: 8px;
        .from {
          .location {
            span {
              margin-right: 4px;
            }
          }
        }
        .since {
          span {
            margin-right: 4px;
          }
        }
      }
    }

    .description {
      padding: 14px;
      font-size: 8px;
    }
  }
}
@media screen and (min-width: 768px) {
  .profile--left {
    .info {
      padding: 16px 24px;
      .top {
        .avatar {
          img {
            width: 50px;
            height: 50px;
          }
        }
        .name {
          font-size: 12px;
          margin: 4px 0 0;
        }
        .edit {
          span {
            svg {
              height: 8px;
            }
          }
        }
        .preview {
          a {
            font-size: 8px;
            padding: 2px 10px;
            margin: 4px 0 10px;
          }
        }
      }

      .bot {
        font-size: 10px;
        .from {
          .location {
            span {
              margin-right: 5px;
            }
          }
        }
        .since {
          span {
            margin-right: 5px;
          }
        }
      }
    }

    .description {
      padding: 16px;
      font-size: 10px;
      .language {
        margin-bottom: 4px;
      }
      .account {
        li {
          font-size: 10px;
          margin-top: 5px;
          width: 90px;
          i {
            margin-right: 6px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .profile--left {
    .info {
      padding: 20px 30px;
      .top {
        .avatar {
          img {
            width: 60px;
            height: 60px;
          }
        }
        .name {
          font-size: 14px;
          margin: 4px 0 0;
        }

        .preview {
          a {
            font-size: 10px;
          }
        }
      }

      .bot {
        font-size: 12px;
      }
    }

    .description {
      padding: 20px 30px;
      font-size: 12px;
      .language {
        margin-bottom: 5px;
      }
      .account {
        li {
          font-size: 12px;
          margin-top: 5px;
          width: 110px;
          i {
            margin-right: 6px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .profile--left {
    width: 30%;
    .info {
      padding: 20px 30px;
      .top {
        .avatar {
          img {
            width: 80px;
            height: 80px;
          }
        }
        .name {
          font-size: 16px;
          margin: 4px 0 0;
        }

        .preview {
          a {
            font-size: 12px;
          }
        }
      }

      .bot {
        font-size: 12px;
      }
    }

    .description {
      padding: 20px 30px;
      font-size: 14px;
      .language {
        margin-bottom: 5px;
      }
      .account {
        li {
          font-size: 12px;
          margin-top: 5px;
          width: 110px;
          i {
            margin-right: 6px;
          }
        }
      }
    }
  }
}