@media screen and (min-width: 320px) {
  .profile--right {
    padding: 0 12px 15px;
    .create--gig{
      display: none;
    }
    .list-job-hired{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .item-hired{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        background: #fff;
        padding: 10px;
        border: 1px solid #ddd;
        .item-hired-img{
          img{
            width: 100%;
            height: 200px;
          }
        }
        .item-hired-content{
          margin-top: 20px;
          .item-hired-title{
            h5{
              font-size: 16px;
              font-weight: 500;
              height: 40px;
            }
          }
          .item-hired-info{
            font-size: 13px;
            color: #62646a;
            height: 75px;
          }
          .item-hired-star{
            display: flex;
            align-items: center;
            .number-star{
                margin-right: 3px;
                margin-left: 5px;
                margin-top: 2px;
                color: #ffbe5b;
                font-weight: 600;
                letter-spacing: 1px;
            }
            .amount-rate{
                color: #b5b6ba;
                font-size: 15px;
                margin-top: 3px;
            }
          }
          .item-hired-action{
            display: flex;
            align-items: center;
            justify-content: end;
            margin-top: 10px;
            button{
              border: none;
              outline: none;
              color: #fff;
              padding: 5px 15px;
              border-radius: 5px;
              margin: 0 5px;
              font-weight: 500;
              &:hover{
                opacity: .9;
              }
            }
            .item-hired-del{
              background: #e14c4c;
            }
            .item-hired-detail{
              background: #1dbf73;
            }
          }
        }
      }

      .hired-empty{
        width: 100%;
        text-align: center;
        padding: 10px 0;
        font-size: 16px;
        font-weight: 600;
        background: #fff;
        border: 1px solid #ddd;
        color: #0e0e0f;
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .profile--right{
    padding: 0 20px 15px;
    .item-hired{
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .profile--right {
    width: 60%;

    display: block;
    padding: 20px 0;
    .create--gig {
      display: block;
      background: #fff;
      text-align: center;
      border: 1px solid #ddd;
      padding: 50px 0;
      svg {
        height: 60px;
      }
      .caption {
        font-size: 14px;
        font-weight: 500;
        margin: 8px 0;
      }
      a {
        text-transform: initial;
        background-color: #1dbf73;
        font-weight: 700;
        color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: all 0.5s ease;
        display: inline-block;
        font-size: 14px;
        padding: 4px 12px;
        margin-top: 0px;
        &:hover {
          box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
        }
      }
    }

    .list-job-hired{
      margin-top: 20px;
      .item-hired{
        .item-hired-content{
          .item-hired-title{
            h5{
              font-size: 18px;
            }
          }
          .item-hired-info{
            font-size: 14px;
            height: 60px;
          }
          
        }
      }

      .hired-empty{
        font-size: 18px;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .profile--right {
    .create--gig {
      svg {
        height: 70px;
      }
      .caption {
        font-size: 16px;
        margin: 14px 0;
      }
      a {
        font-size: 16px;
      }
    }

  }
}

@media screen and (min-width: 1200px) {
  .profile--right {
    width: 67%;
    padding: 20px 0;
    .create--gig {
      svg {
        height: 90px;
      }
      .caption {
        font-size: 16px;
        margin: 14px 0;
      }
      a {
        font-size: 16px;
      }
    }
    .list-job-hired{
      .item-hired{
        flex-direction: row;
        .item-hired-img{
          margin-right: 20px;
          img{
            width: 200px;
            height: 120px;
          }
        }
        .item-hired-content{
          margin-top: unset;
        }
      }
    }
  }
}
