@media screen and (min-width: 320px) {
  .profile--right {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .profile--right {
    width: 65%;

    display: block;
    padding: 20px 0;
    .create--gig {
      background: #fff;
      text-align: center;
      border: 1px solid #ddd;
      padding: 50px 0;
      svg {
        height: 60px;
      }
      .caption {
        font-size: 14px;
        font-weight: 500;
        margin: 8px 0;
      }
      a {
        text-transform: initial;
        background-color: #1dbf73;
        font-weight: 700;
        color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: all 0.5s ease;
        display: inline-block;
        font-size: 14px;
        padding: 4px 12px;
        margin-top: 0px;
        &:hover {
          box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
        }
      }
    }
    .item {
      border: 1px solid #ddd;
      background: #fff;
      display: flex;
      margin-top: 20px;
      .item--left {
        width: 30%;
        display: flex;
        justify-content: center;
        padding: 6px;
        img {
          width: 100%;
          object-fit: contain;
        }
      }
      .item--right {
        width: 70%;
        padding: 6px;
        h6 {
          font-weight: 600;
          font-size: 16px;
          margin-bottom: 2px;
        }
        p {
          font-size: 12px;
          margin-bottom: 8px;
          min-height: 60px;
        }
      }
      .item--button {
        display: flex;
        justify-content: flex-end;
        button {
          margin-left: 6px;
          font-size: 14px;
          padding: 2px 4px;
        }
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .profile--right {
    .create--gig {
      svg {
        height: 70px;
      }
      .caption {
        font-size: 16px;
        margin: 14px 0;
      }
      a {
        font-size: 16px;
      }
    }
    .item {
      .item--left {
        padding: 8px;
      }
      .item--right {
        padding: 8px;

        p {
          font-size: 14px;
          min-height: 80px;
        }
      }
      .item--button {
        button {
          margin-left: 8px;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .profile--right {
    padding: 20px;
    .create--gig {
      svg {
        height: 90px;
      }
      .caption {
        font-size: 16px;
        margin: 14px 0;
      }
      a {
        font-size: 16px;
      }
    }
    .item {
      .item--left {
        padding: 12px;
      }
      .item--right {
        padding: 8px;
        h6{
          font-size: 20px;
        }
        p {
          font-size: 16px;
          min-height: 140px;
        }
      }
      .item--button {
        button {
          margin-left: 14px;
          font-size: 18px;
          padding: 4px 10px;
        }
      }
    }
  }
}
