.home--trust {
    background-color: #fafafa;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    .home--trust__text {
      color: #b5b6ba;
      font-weight: 600;
    }
    .home--trust__comp {
      ul {
        padding: 0 20px;
        li {
          margin: 0 30px;
        }
      }
    }
  }