@media screen and (min-width: 320px) {
  .home--carousel {
    position: relative;
    overflow: hidden;
    .slick-list,
    .slick-track {
      height: 100%;
    }
    .home--carousel__item {
      height: 300px;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      .tag {
        position: absolute;
        bottom: 20px;
        right: 25%;
        color: white;
        font-size: 10px;
        .star {
          color: rgb(236, 221, 13);
          i {
            margin-right: 0;
            font-size: 8px;
          }
        }
        span {
          font-weight: 600;
        }
      }
    }
    .home-carousel__search {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: white;
      .search--content {
        position: absolute;
        top: 80px;
        left: 32px;
        p {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 0;
          line-height: 30px;
          i {
            font-family: "Times New Roman", Times, serif;
            margin-left: 2px;
          }
        }
        form {
          margin-top: 20px;
          position: relative;
          display: flex;
          width: 300px;
          i {
            position: absolute;
            z-index: 5;
            color: silver;
            top: 15px;
            left: 15px;
          }
          input {
            height: 48px;
            padding: 10px 10px 10px 40px;

            font-size: 16px;
            line-height: 30px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            &::placeholder {
              font-size: 12px;
            }
            &:focus {
              border-color: transparent;
              box-shadow: none;
            }
          }
          button {
            font-size: 14px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
        .popular {
          display: flex;
          margin-top: 15px;
          font-size: 8px;
          ul {
            display: flex;
            li {
              margin-left: 4px;
              a {
                color: white;
                display: inline-block;
                border: 1px solid white;
                border-radius: 20px;
                font-weight: 600;
                padding: 2px 4px;
                &:hover {
                  background-color: white;
                  color: #404145;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 576px) {
  .home--carousel {
    .home--carousel__item {
      height: 350px;

      .tag {
        bottom: 20px;
        font-size: 10px;
        .star {
          i {
            margin-right: 0;
            font-size: 8px;
          }
        }
      }
    }
    .home-carousel__search {
      .search--content {
        top: 100px;
        p {
          font-size: 20px;
          margin-bottom: 0;
          line-height: 30px;
          i {
            margin-left: 2px;
          }
        }
        form {
          margin-top: 20px;
          width: 360px;
          i {
            top: 15px;
            left: 15px;
          }
          input {
            height: 48px;
            padding: 10px 10px 10px 40px;
            font-size: 16px;
            line-height: 30px;
            &::placeholder {
              font-size: 14px;
            }
          }
          button {
            font-size: 14px;
          }
        }
        .popular {
          margin-top: 15px;
          font-size: 10px;
          ul {
            li {
              margin-left: 4px;
              a {
                padding: 2px 4px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .home--carousel {
    .home--carousel__item {
      height: 400px;
      .tag {
        bottom: 30px;
        font-size: 12px;
        .star {
          i {
            margin-right: 2px;
            font-size: 8px;
          }
        }
      }
    }
    .home-carousel__search {
      .search--content {
        top: 120px;
        p {
          font-size: 26px;
          margin-bottom: 0;
          line-height: 35px;
          i {
            margin-left: 2px;
          }
        }
        form {
          margin-top: 20px;
          width: 380px;

          input {
            height: 48px;
            font-size: 16px;
            &::placeholder {
              font-size: 14px;
            }
          }
          button {
            font-size: 14px;
          }
        }
        .popular {
          margin-top: 15px;
          font-size: 10px;
          ul {
            li {
              margin-left: 4px;
              a {
                padding: 2px 4px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .home--carousel {
    .home--carousel__item {
      height: 500px;
      .tag {
        bottom: 40px;
        font-size: 14px;
        .star {
          i {
            margin-right: 4px;
            font-size: 12px;
          }
        }
      }
    }
    .home-carousel__search {
      .search--content {
        top: 140px;
        p {
          font-size: 30px;
          line-height: 45px;
          i {
            margin-left: 10px;
          }
        }
        form {
          margin-top: 20px;
          width: 440px;

          input {
            height: 48px;
            font-size: 16px;
            &::placeholder {
              font-size: 14px;
            }
          }
          button {
            font-size: 14px;
          }
        }
        .popular {
          margin-top: 15px;
          font-size: 12px;
          ul {
            li {
              margin-left: 4px;
              a {
                padding: 2px 4px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .home--carousel {
    .home--carousel__item {
      height: 660px;
      .tag {
        bottom: 40px;
        font-size: 18px;

        .star {
          i {
            margin-right: 4px;
            font-size: 14px;
          }
        }
      }
    }
    .home-carousel__search {
      .search--content {
        top: 180px;
        p {
          font-size: 60px;
          line-height: 65px;
          i {
            margin-left: 10px;
          }
        }
        form {
          margin-top: 30px;
          width: 600px;

          input {
            height: 50px;
            font-size: 16px;
            &::placeholder {
              font-size: 16px;
            }
          }
          button {
            font-size: 16px;
          }
        }
        .popular {
          margin-top: 25px;
          font-size: 16px;
          ul {
            li {
              margin-left: 8px;
              a {
                padding: 2px 4px;
              }
            }
          }
        }
      }
    }
  }
}
