.login, .register {
  width: 60%;
  height: 500px;
  background: #fff;
  position: relative;
  @include res(lg){
    width: 100%;
  }
  .login__content, .register__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    animation: fadein 1s ease;
    h2 {
      font-size: 35px;
      text-align: center;
      font-weight: 700;
      margin-bottom: 20px;
      color: #17a98c;
    }
    @include form();
    @include btnSubmit();
    .back-to-home{
      display: none;
      position: absolute;
      top: 15px;
      left: 15px;
      @include res(lg){
        display: unset;
      }
    }
    .form__submit-login{
      button{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@keyframes fadein {
  from{
    transform: translateX(400px);
  } to{
    transform: translateX(0);
  }
}