.home--guide {
  .home--guide__content {
    position: relative;

    max-width: 1400px;
    margin: 60px auto;
    padding: 0 14px;
    h6 {
      padding-left: 18px;
      margin-bottom: 30px;
    }
    .content--top {
      display: flex;
      .item {
        padding: 0 18px;
        a {
          img {
            transition: all 0.5s ease;
            width: 100%;
            &:hover {
              opacity: 0.8;
            }
          }
          h6 {
            color: #333;
            font-weight: 600;
            padding-left: 0;
            margin: 12px 0 2px;
            font-size: 18px;
          }
          p {
            font-size: 16px;
            color: #74767e;
          }
        }
      }
      .seemore {
        position: absolute;
        top: 20px;
        right: 30px;
        a:hover {
          color: #446ee7;
        }
      }
    }
    .content--bot {
      position: relative;
      padding: 0 18px;
      margin-top: 70px;
      color: white;
      img {
        width: 100%;
      }
      .bot__text {
        position: absolute;
        top: 24%;
        left: 8%;

        i {
          font-family: "Times New Roman", Times, serif;
          font-weight: 400;
          font-size: 50px;
        }
        h2 {
          font-size: 48px;
          font-weight: 600;
          margin-bottom: 0;
        }
        a {
          font-size: 16px;
          font-weight: 500;
          margin-top: 28px;
        }
      }
    }
  }
}
