.admin{
    max-width: 1400px;
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 78px;
        background: #0a4b3e;
        padding: 0 14px;
        overflow: hidden;
        transition: all .5s;
        @include res(md) {
            width: 0px;
            padding: 0;
        }
        .logo__content{
            position: relative;
            height: 60px;
            
            text-align: center;
            .sidebar__logo{
                opacity: 0;
                transition: all .5s ease;
                pointer-events: none;
                height: 60px;
                line-height: 60px;
            }
            #btnToggle{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
                font-size: 30px;
                color: #1abc9c;
                transition: all .6s ;
            }
        }

        .sidebar__list{
            margin-top: 80px;
            li{
                margin: 20px 0;
                transition: all .3s;
                width: 100%;
                cursor: pointer;
                overflow: hidden;
                transition: all .3s;
                a{
                    display: flex;
                    align-items: center;
                    height: 50px;
                    line-height: 50px;
                    transition: all .3s;
                    i, span{
                        color: #fff;
                        text-transform: capitalize;
                        transition: all .3s;
                    }
                    i{
                        font-size: 22px;
                        height: 50px;
                        min-width: 50px;
                        line-height: 50px;
                        text-align: center;
                    }
                    span{
                        font-weight: 400;
                        min-width: 151px;
                        margin-top: 4px;
                    }
                    &:hover{
                        background: #fff;
                        border-radius: 4px;
                        i,span{
                            color: #0a4b3e;
                        }
                    }
                }
            }
            li.active{
                background: #fff;
                border-radius: 4px 50px 50px 4px;
                margin-left: 20px;
                a{
                    i,span{
                        color: #0a4b3e;
                    }
                }
            }
        }
    }

    .sidebar.active{
        width: 240px;
        z-index: 2;
        @include res(md) {
            padding: 0 14px;
        }
        .logo__content{
            .sidebar__logo{
                opacity: 1;
                text-align: left;
                pointer-events: unset;
                transition: all .5s;
                svg{
                    margin-bottom: 10px;
                    g{
                        &:first-child{
                            fill: #fff;
                        }
                    }
                }
            }
            #btnToggle{
                left: 90%;
                transition: all .4s ease;
            }

        }
        ~ .home__content{
            left: 240px;
            width: calc(100% - 240px);
            transition: all .5s;
        }
        
    }

    .home__content{
        position: absolute;
        left: 78px;
        width: calc(100% - 78px);
        height: 100%;
        transition: all .5s ease;
        background: #fefdfe;
        @include res(md) {
            width: 100%;
            left: 0;
        }
        header{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 60px;
            background: #0a4b3e;
            padding: 0 32px;
            .dashboard{
                display: flex;
                align-items: center;
                i,span{
                    color: #fff;
                    font-size: 25px;
                }
                i{
                    margin-right: 10px;
                }
                span{
                    font-weight: 600;
                }
            }
            .admin__profile{
                display: flex;
                align-items: center;

                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    cursor: pointer;
                    object-fit: cover;
                }
                label{
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    background: $secondary-color;
                    position: relative;
                    margin-bottom: unset;
                    cursor: pointer;
                    span{
                        font-weight: 700;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        color: #fff;
                    }
                }
                ul{
                    li{
                        i.fa-user{
                            font-size: 16px;
                            width: 20px;
                            height: 20px;
                            line-height: 20px;
                            text-align: center
                        }
                        a{
                            flex: 1
                        }
                    }
                }
                @include profileAction();
                
            }
        }
    }
}