nav.nav__wrapper {
  display: unset;
  position: fixed;
  top: 80px;
  width: 100%;
  background: #fff;
  transform: rotateX(90deg);
  opacity: 0;
  transition: transform 0.3s;
  ::-webkit-scrollbar{
    height: 5px;
  }
  ::-webkit-scrollbar-thumb{
      background: #e4e5e7;
  }
  ::-webkit-scrollbar-track{
      background: #e8f8f5;
  }
  @include res(md) {
    ::-webkit-scrollbar{
      display: none;
    }
  }
  @include res(sm){
    display: none;
  }
  .navbar__container {
    position: relative;
    border-bottom: 1px solid #e4e5e7;
    @include res(xl) {
      overflow: auto;
    }
    .navbar-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      
      @include res(xl) {
        width: max-content;
      }

      >li {
        display: inline-block;
        margin: 0 10px;
        position: relative;
        @include res(xxl) {
          margin: 0 8px;
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        > a {
          display: block;
          color: $nav-color;
          padding: 10px 0;
          position: relative;
          transition: all 0.3s;

          &::after {
            content: "";
            position: absolute;
            bottom: 0px;
            right: 50%;
            width: 0;
            height: 3px;
            background: $secondary-color;
            transition: all 0.3s;
          }

          &:hover {
            color: $secondary-color;

            &::after {
              right: 0;
              width: 100%;
            }
          }
        }

        &:hover>.navbar-menu {
          display: block;
          z-index: 999;
        }
        @include res(xl) {
          &:hover>.navbar-menu{
            display: none;
          }
        }

        .navbar-menu {
          position: absolute;
          top: 45px;
          left: 0;
          background: #fff;
          display: none;
          border: 1px solid #e4e5e7;
          border-top: unset;
          box-shadow: 0 1px 3px #dadbdd;
          max-width: 550px;
          width: max-content;
          .navbar__wrap {
            padding: 30px;
            display: flex;
            flex-wrap: wrap;
            .navbar__content {
              width: 200px;
              margin-right: 20px;

              h6 {
                font-size: 16px;
                font-weight: 600;
              }

              ul {
                li {
                  margin: 14px 0;
                  cursor: pointer;
                  a{
                    color: $nav-color;
                  }
                }
              }
            }
          }
          
        }
        
        // &:nth-child(2) {
        //   .navbar-menu {
        //     left: 170px;
        //   }
        // }
  
        // &:nth-child(3) {
        //   .navbar-menu {
        //     left: 340px;
        //   }
        // }
  
        // &:nth-child(4) {
        //   .navbar-menu {
        //     left: 545px;
        //   }
        // }
  
        &:nth-child(5) {
          .navbar-menu {
            left: unset;
            right: 0;
          }
        }
  
        // &:nth-child(6) {
        //   .navbar-menu {
        //     left: unset;
        //     right: 322px;
        //   }
        // }
  
        // &:nth-child(7) {
        //   .navbar-menu {
        //     left: unset;
        //     right: 215px;
        //   }
        // }
  
        // &:nth-child(8) {
        //   .navbar-menu {
        //     left: unset;
        //     right: 10px;
        //   }
        // }
      }
      
    }
  }
}

nav.nav-static {
  position: static;
  opacity: 1;
  display: contents;
  @include res(sm){
    display: none;
  }
}

nav.navbar-active {
  opacity: 1;
  transform: rotateX(0deg);
  z-index: 10;
  //   border-bottom: 1px solid #e4e5e7;
}