@mixin form() {
    .form {
        max-width: 280px;
        width: 100%;
        margin: 0 auto;
        .form__content {
          position: relative;
  
          .form__input {
            height: 75px;
            position: relative;
  
            i,
            span {
              position: absolute;
              color: #d9d9d9;
              z-index: 1;
            }
  
            i {
              left: 0;
              height: calc(100% - 1px);
              width: 38px;
              line-height: 38px;
              text-align: center;
              transition: all 0.3s;
            }
  
            span {
              top: 8px;
              left: 40px;
              pointer-events: none;
              transition: all 0.3s;
            }
  
            input {
              position: relative;
              width: 100%;
              height: 40px;
              padding-left: 40px;
              border: none;
              outline: none;
              border-bottom: 2px solid #d9d9d9;
              transition: all 0.3s;
  
              &:valid ~ i,
              &:focus ~ i {
                color: #17a98c;
              }
              &:valid,
              &:focus {
                border-bottom: 2px solid #17a98c;
              }
              &:valid ~ span,
              &:focus ~ span {
                font-size: 13px;
                color: #17a98c;
                transform: translate(5px, -20px);
                font-weight: 600;
              }
            }
          }
          .form-jobType{
            input{
              border-bottom: 2px solid #17a98c;
            }
            i{
              color: #17a98c;
            }
            span{
              top: 8px;
              left: 40px;
              font-size: 13px !important;
              color: #17a98c;
              transform: translate(5px, -20px);
              font-weight: 600;
            }
          }
          .form__info {
            text-align: center;
            margin-top: 30px;
            p,
            a {
              color: #17a98c;
              font-weight: 500;
            }
            a {
              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
      }
}

@mixin btnSubmit(){
    button {
      border: none;
      outline: none;
      width: 100%;
      height: 45px;
      background: linear-gradient(
        to right,
        #0a4b3e 0%,
        #0f705d 51%,
        #0d5e4e 100%
      );
      background-size: 200%;
      border-radius: 50px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 500;
      transition: all 0.5s;
      &:hover {
        background-position: right center;
      }
    }
}

@mixin res($breakpoint) {
  @if $breakpoint == xxl {
      // width < 1360px
      @media (max-width: 85em) {
          @content;
      }
  };
  @if $breakpoint == xl {
      // width < 1200px
      @media (max-width: 75em) {
          @content;
      }
  };
  @if $breakpoint == lg {
      // width < 992px
      @media (max-width: 62em) {
          @content;
      }
  };
  @if $breakpoint == md {
      // width < 768px
      @media (max-width: 48em) {
          @content;
      }
  };
  @if $breakpoint == sm {
      // width < 576px
      @media (max-width: 36em) {
          @content;
      }
  }
  @if $breakpoint == sm {
    // width < 576px
    @media (max-width: 36em) {
        @content;
    }
  }
  @if $breakpoint == ssm {
    // width < 400px
    @media (max-width: 25em) {
        @content;
    }
  }
}